<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"><h5>Hello <%= HelloUser %>!</h5></a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logOut">Sign out</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/menu">Home</a>
            <% if(per.includes("View Movies")){ %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Movies
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/menu/movies">All Movies</a></li>
              <% if(per.includes("Create Movies")){ %>
              <li><a class="dropdown-item" href="/movies/addMovies">Add Movie</a></li>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if(per.includes("View Subscriptions")){ %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Subscriptions
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/menu/subs">All Members</a></li>
              
              <% if(per.includes("Create Subscriptions")){ %>
              <li><a class="dropdown-item" href="/subs/addMember">Add Member</a></li>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if(per.includes("Manage Users")){ %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                User Management
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/menu/userMng">All Users</a></li>
              <li><a class="dropdown-item" href="/userMng/addUser">Add User</a></li>
            </ul>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  