<% if(add){ %>
  <% member = {"Name": "" , "Email": "", "City": ""} %>
  
 <%} %>

 <div >
  <label for="Name" class="addMemeber">Name: </label>
  <input type="text" name="Name" value= "<%= member.Name %>" >
  <label for="Email" class="addMemeber">Email: </label>
  <input type="text" name="Email" value= "<%= member.Email %>" >
  <label for="City" class="addMemeber">City: </label>
  <input type="text" name="City" value= "<%= member.City %>" >
 </div>
