
<div class="container card">
    <div class="item-list">
      <div class="item item-1">
        <div class="img"><a href="javascript:;">
            <img src="<%= img %>" alt="">
        </div>
        <div class="text-container">
          <h2 class="title"><%= movieTitle %>></h2>
          <div class="content">
            <p><%= summery %></p>
          </div>
          <div class="readmore">
            <h3>show more</h3>
          </div>
        </div>
      </div>
    </div>
  </div>