<!DOCTYPE html>
<html>
  <head>
   
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Create Account</h1>
    <form action="/savepsw" method='post'>
      <label for="userName">User Name: </label>
      <input name="userName" type="text"><br><br>
      <label for="psw">Password: </label>
      <input name="psw" type="password"><br><br>
      <input type="submit" value="Create">
    </form><br>
   
   


  </body>
</html>
