<!DOCTYPE html>
<html>
  <head>
    
    <%- include('../tamplates/head.html') %>
    <link rel='stylesheet' href='/stylesheets/card.css' />
  </head>
  <body>
    <%- include('../tamplates/header.ejs') %>
    <h1>welcome!</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://fffmovieposters.com/wp-content/uploads/73778-693x1024.jpg" class="d-block w-100 Cim" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://c8.alamy.com/zooms/6/789ec9b58acf4bd8b852bdd273a3c81b/mn9kxf.jpg" class="d-block w-100 Cim" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://live.staticflickr.com/65535/34004107138_b965db251d_b.jpg" class="d-block w-100 Cim" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <%- include('../tamplates/footer.html') %>
  </body>
</html>
