<!DOCTYPE html>
<html>
  <head>
    
    <%- include('../tamplates/head.html') %>
    <link rel='stylesheet' href='/stylesheets/card.css' />
    <link rel='stylesheet' href='/stylesheets/carusel.css' />
  </head>
  <body>
    <%- include('../tamplates/header.ejs') %>
    <h1>welcom!</h1>
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    <%- include('../tamplates/footer.html') %>
    <script src='/javascript/carusel.js></script>
  </body>
</html>
